:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 184 148;
  --oui-color-primary-light: 0 220 176;
  --oui-color-primary-darken: 0 135 108;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 0 184 148;
  --oui-color-link-light: 0 220 176;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 240 240 240;
  --oui-color-fill-active: 200 200 200;

  --oui-color-base-1: 17 45 39;
  --oui-color-base-2: 20 54 47;
  --oui-color-base-3: 23 63 55;
  --oui-color-base-4: 26 72 63;
  --oui-color-base-5: 29 81 71;
  --oui-color-base-6: 32 90 79;
  --oui-color-base-7: 35 99 87;
  --oui-color-base-8: 38 108 95;
  --oui-color-base-9: 41 117 103;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 0 220 176;
  --oui-color-line: 0 184 148;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 220 176;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 220 176;
  --oui-gradient-primary-end: 0 184 148;

  --oui-gradient-secondary-start: 200 200 200;
  --oui-gradient-secondary-end: 255 255 255;

  --oui-gradient-success-start: 41 233 169;
  --oui-gradient-success-end: 0 184 148;

  --oui-gradient-danger-start: 245 97 139;
  --oui-gradient-danger-end: 237 72 122;

  --oui-gradient-brand-start: 0 220 176;
  --oui-gradient-brand-end: 0 184 148;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 209 70;
  --oui-gradient-warning-end: 255 152 0;

  --oui-gradient-neutral-start: 255 255 255;
  --oui-gradient-neutral-end: 230 230 230;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}

:root {
  /* …твой набор переменных… */
}

/* кастом поверх темы Aden */
.oui-scaffold-footer-powered-by {
  display: none !important;
}