:root {
  --oui-font-family: 'Manrope', sans-serif;
  --oui-font-size-base: 16px;

  /* colors */
  --oui-color-primary: 0 184 148;
  --oui-color-primary-light: 0 220 176;
  --oui-color-primary-darken: 0 135 108;
  --oui-color-primary-contrast: 255 255 255;

  --oui-color-link: 0 184 148;
  --oui-color-link-light: 0 220 176;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 218 218 218;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 250 167 188;
  --oui-color-danger-darken: 237 72 122;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 101 240 194;
  --oui-color-success-darken: 0 161 120;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 255 152 0;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 0 20 18;
  --oui-color-fill-active: 0 30 28;

  --oui-color-base-1: 14 13 18;
  --oui-color-base-2: 18 17 24;
  --oui-color-base-3: 22 21 30;
  --oui-color-base-4: 28 26 36;
  --oui-color-base-5: 34 32 42;
  --oui-color-base-6: 40 38 48;
  --oui-color-base-7: 46 44 54;
  --oui-color-base-8: 52 50 60;
  --oui-color-base-9: 58 56 66;
  --oui-color-base-10: 64 62 72;

  --oui-color-base-foreground: 0 240 192;
  --oui-color-line: 0 184 148;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 0 230 184;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 80 64;
  --oui-gradient-primary-end: 0 184 148;

  --oui-gradient-secondary-start: 0 60 48;
  --oui-gradient-secondary-end: 0 184 148;

  --oui-gradient-success-start: 1 83 68;
  --oui-gradient-success-end: 41 223 169;

  --oui-gradient-danger-start: 153 24 76;
  --oui-gradient-danger-end: 245 97 139;

  --oui-gradient-brand-start: 0 80 64;
  --oui-gradient-brand-end: 0 184 148;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 152 58 8;
  --oui-gradient-warning-end: 255 209 70;

  --oui-gradient-neutral-start: 12 11 16;
  --oui-gradient-neutral-end: 20 19 28;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'Manrope', sans-serif !important;
  font-size: 16px !important;
}

:root {
  /* …твой набор переменных… */
}

/* кастом поверх темы Aden */
.oui-scaffold-footer-powered-by {
  display: none !important;
}